    <nav class="navbar navbar-expand-sm navbar-dark bg-light">
        <div class="container">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="images/logo_1.png" alt="">
        </a>
            <div class="d-flex">
            <button class="btn btn-danger" type="button">Logout</button>
            </div>
        </div>
        </div>
    </nav>