    <nav class="navbar navbar-expand-sm navbar-dark bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="assets/logo_1.png" alt="ini logo">
        </a>
            <div class="d-flex">
                <!-- button submit redirect to login page -->
                <button class="btn btn-danger" type="submit" onclick="window.location.href='/login'">Logout</button>
            </div>
        </div>
    </nav>