    <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-color" style="width: 300px;">
                <div class="d-flex">
                    <img src="images/pewdiepie.png" class="profile_1">
                    <p class="sidebar-name mt-4"><b>Yusuf Syamputra</b></p>
                </div>
            <hr class="sidebar-line">
            <ul class="nav nav-pills flex-column mb-auto container">
            <li>
                <a href="#" class="nav-link text-body">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Profil
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-body">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Statistik
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-body">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Data Pasien
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-body">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Data Obat
                </a>
            </li>
            </ul>
        </div>
    </div>