    <div class="col-md-3 sidebar-color">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-set" style="width: 300px; height: 700px;">
            <!-- <div class="sidebar-set">

            </div> -->
            <div class="d-flex">
                <img src="images/pewdiepie.png" class="profile_1">
                <p class="sidebar-name mt-4"><b>Yusuf Syamputra</b></p>
            </div>
            <hr class="sidebar-line">
            <ul class="nav nav-pills flex-column mb-auto container">
                <li>
                    <a href="#" class="nav-link text-body">
                        <p><b>Profil</b></p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-body">
                        <p><b>Statistik</b></p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-body">
                        <p><b>Data Pasien</b></p>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-body">
                        <p><b>Data Obat</b></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>