    <div class="bg-dark footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container">
            <div class="col-md-4 mb-0">
                <div class="mb-1">
                    <img src="images/pin.png" alt="">                
                    <span class="text-light">
                        Bumi Lestari Blok H13 No. 8
                    </span>
                </div>
                <div>
                    <img src="images/phone.png" alt="">                
                    <span class="text-light">
                        Bumi Lestari Blok H13 No. 8
                    </span>
                </div>
            </div>
        
            <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <div class="socmed">
                <a href="https://www.facebook.com/">
                <img src="images/facebook.png" alt="">
                </a>
                <a href="https://www.instagram.com/">
                <img src="images/instagram.png" alt="">
                </a>
                <a href="https://www.twitter.com/">
                <img src="images/twitter.png" alt="">
                </a>
            </div>
            <p class="text-light">&copy;Copyright 2022 <b>Husada Karya</b></p>
            </div>
        
            <div class="nav col-md-4 justify-content-end">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d247.88366909217882!2d107.05989844880466!3d-6.24544541176757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698f06aafef489%3A0x56a4a5b4d4180b49!2sJl.%20Bumi%20Lestari%20Blok%20H-19%20No.Nk-7%2C%20RT.9%2FRW.14%2C%20Mangunjaya%2C%20Kec.%20Tambun%20Sel.%2C%20Kabupaten%20Bekasi%2C%20Jawa%20Barat%2017510!5e0!3m2!1sid!2sid!4v1666252950432!5m2!1sid!2sid" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </footer>
    </div>