body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.btn-ungu {
    background-color: #8534EC;
    color: #fff;
}